@model Cinema.UI.Models.ViewModels.SessionConvertVM

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Güncelle", "Update", new {id=Model.Id}) |
    @Html.ActionLink("Sil", "Delete", new {id=Model.Id}) |
    <a asp-action="Index">Listeye dön.</a>
</div>